<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0">
    <title>关于我们</title>
    <link rel="stylesheet" href="../../css/main.css">
    <style>
        body {
            background: url("../../images/audbw.png") no-repeat center;
            background-size: 100%;
        }
        .contactus {
            width:100%;
        }
    </style>
</head>
<body>

<!--<img class="contactus" src="../../images/audbw.png" alt="">-->

</body>
</html>