<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0">

    <!--设置Web应用程序是否以全屏模式运行。-->
    <meta name="apple-mobile-web-app-capable" content ="yes">
    <!--启用或禁用在iOS上的Safari中的网页上自动检测可能的电话号码-->
    <meta name="format-detection" content="telephone=no">

    <title>关于我们</title>
    <link rel="stylesheet" href="../../css/main.css">
    <style>
        body {
            background: url("../../images/audbw.png") no-repeat center;
            background-size: 100%;
        }
        .contactus {
            width:100%;
        }
    </style>
</head>
<body>

<!--<img class="contactus" src="../../images/audbw.png" alt="">-->

</body>
</html>