<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!--设置Web应用程序是否以全屏模式运行。-->
    <meta name ="apple-mobile-web-app-capable" content ="yes">
    <!--启用或禁用在iOS上的Safari中的网页上自动检测可能的电话号码-->
    <meta name ="format-detection" content="telephone=no">

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <title>联系我们</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/culture.css">
</head>
<body>
    <div id="culture" class="cen-main">
        
        <div class="nav-img" >
            <img src="../../images/contact.png" alt="">
        </div>

        <ul class="information">

           <li class="infor-list">
               <span class="iconfont icon-dianhua4 info-icon"></span>
               <div class="infor-cenv">
                   <p class="icfor-title">联系电话</p>
                   <p class="icfor-text" v-text="prodData.webtel">{{prodData}}</p>
               </div>
           </li>

           <!--<li class="infor-list">-->
               <!--<span class="iconfont icon-qq info-icon"></span>-->
               <!--<div class="infor-cenv">-->
                   <!--<p class="icfor-title">QQ</p>-->
                   <!--<p class="icfor-text">##</p>-->
               <!--</div>-->
           <!--</li>-->

           <li class="infor-list">
               <span class="iconfont icon-youxiang info-icon"></span>
               <div class="infor-cenv">
                   <p class="icfor-title">邮箱</p>
                   <p class="icfor-text" v-text="prodData.webmail"></p>
               </div>
           </li>

           <li class="infor-list">
               <span class="iconfont icon-erweima info-icon"></span>
               <div class="infor-cenv">
                   <p class="icfor-title">微信公众号</p>
                   <p class="icfor-text" v-text="prodData.webcompany"></p>
               </div>
           </li>

           <li class="infor-list">
               <span class="iconfont icon-dingwei info-icon"></span>
               <div class="infor-cenv">
                   <p class="icfor-title">公司地址</p>
                   <p class="icfor-text" v-text="prodData.webaddress"></p>
               </div>
           </li>

        </ul>
        
    </div>

    <script src="../../script/require/require.js" data-main="../../script/aboutus_main"></script>
</body>
</html>