<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">

    <!--设置Web应用程序是否以全屏模式运行。-->
    <meta name ="apple-mobile-web-app-capable" content ="yes">
    <!--启用或禁用在iOS上的Safari中的网页上自动检测可能的电话号码-->
    <meta name ="format-detection" content="telephone=no">
    <title>热销产品</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/hotsales.css">


</head>
<body>

    <header id="navTopHot" class="nav-top">

        <div id="shuffling" class="swiper-container">
            <div class="swiper-wrapper">
                <div v-for="imgNames in imgName" class="swiper-slide">
                    <img :src="imgNames.img" alt="">
                </div>

            </div>

            <!--<div class="swiper-pagination"></div>-->

        </div>

    </header>


    <section class="cen-main">

        <div class="cenv-title">
            <p class="title-text title-textHot">热销商品</p>
        </div>
        <!--产品列表-->
        <div id="produListHot" class="carrier-list">
            <div class="carrier-row" v-for="prod in prodData">
                <div class="img-carrier">

                    <img :src="imgUrlHttp+prod.img_url" alt="">
                </div>

                <div class="tuen-carrier">
                    <p class="pro-title" v-text="prod.title" ></p>
                    <p class="pro-text" v-text="prod.remark"></p>
                    <div class="pro-atta">
                        <!--<p class="pro-sell">月销售：<span class="to-sell" v-text="prod.price"></span></p>-->
                        <!--<p class="pro-collect">-->
                            <!--<span class="iconfont icon-shoucang" :class="{'icon-shoucang1':prod.collectors,'collectorsRed':prod.collectors}" @click="setOllect(prod)"></span>-->
                            <!--<span class="collect-num" v-text="prod.collect"></span>-->
                        <!--</p>-->
                    </div>
                </div>
            </div>
        </div>

    </section>
    <div id="loading" class="loading"><span class="loading-an"></span></div>
    <p class="foor-line">没有更多内容</p>
    <script src="../../script/require/require.js" data-main="../../script/hotsales_main"></script>

</body>
</html>