<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <title>历史定单</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/order.css">
</head>
<body>





<section class="cen-main tab-switch">

    <div class="top-search">
        <div class="search ordenumber-search">
            <input type="text" class="search-so" id="searchSo" value="请输入内容">
            <span class="iconfont icon-sousuo search-sousuo"></span>
        </div>
    </div>


    <div class="carrier-cenve">

            <!--历史订单all列表-->
            <!--<div id="produListHiscAll" class="carrier-list">-->

                <!--<div class="carrier-row" v-for="prod in prodData">-->
                    <!--<div class="img-carrier">-->
                        <!--<img :src="prod.img" alt="">-->
                    <!--</div>-->

                    <!--<div class="tuen-carrier">-->
                        <!--<p class="pro-title" v-text="prod.title"></p>-->
                        <!--<div class="pro-type">-->
                            <!--<p class="pro-color">颜色： <span v-text="prod.color"></span></p>-->
                            <!--<p class="pro-num">数量： <span v-text="prod.num"></span></p>-->
                        <!--</div>-->
                        <!--<div class="pro-atta">-->
                            <!--<p class="pro-collect pro-jus">-->
                                <!--<span class="transact-state" v-text="prod.transact"></span>-->
                                <!--<span class="transact-date" v-text="prod.time"></span>-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

    </div>

</section>
<p class="foor-line">没有更多内容</p>
</body>
</html>