<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">

    <!--设置Web应用程序是否以全屏模式运行。-->
    <meta name ="apple-mobile-web-app-capable" content ="yes">
    <!--启用或禁用在iOS上的Safari中的网页上自动检测可能的电话号码-->
    <meta name ="format-detection" content="telephone=no">

    <title>查找订单</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/order.css">
    <link rel="stylesheet" href="../../css/LCalendar.css">
</head>
<body >
<div class="centent" id="ddataWeixOrder">
    <section class="cen-main tab-switch" >

        <div class="top-search" style="position: relative;">
            <div class="search search-list">
                <span class="iconfont icon-fanhui search-return" id="returnPage"></span>
                <div class="search menu-aLink">
                    <form class="search search-list">
                    <input type="search" maxlength="20" class="search-so" id="searchSo" placeholder="请输入内容">
                    <!--清除-->
                    <span class="iconfont icon-guanbi-copy search-colse-right" id="removeText"></span>
                    </form>

                    <!--搜索-->
                    <span class="iconfont icon-sousuo search-sousuo-right" id="searchOrder" @click="setSearch"></span>
                </div>

            </div>

            <!--<div class="search ">-->
                <!--<a href="../searchlist/ordernumber.html" class="search menu-aLink">-->
                    <!--<div class="search-so">-->
                        <!--<span class="iconfont icon-sousuo search-hsousuo"></span>-->
                        <!--<p class="search-hsousuo-text">输入订单号查询</p>-->
                    <!--</div>-->
                <!--</a>-->
                <!--<div class="scrllTop-color"></div>-->
            <!--</div>-->
            <!--滚动一定的距离出现底色-->

        </div>

    </section>
    <div class="carrier-cenve">

        <!--历史订单all列表-->
        <a href="javascript:void(0)" @click="orderPocessInfo(index)" v-for="(prod,index) in prodData" class="datWeixList" >
            <div class="carrier-row" >
                <ul class="order-list">

                    <li class="list-order order-no">
                        <p class="text-list">
                            <span class="text-centen">订单号：<span class="text-info" v-text="prod.lsh"></span></span>
                            <span class="text-centen">客户名称：<span class="text-info" v-text="prod.khmc"></span></span>
                        </p>

                        <p class="text-list">
                            <span class="text-centen">终端客户地址：<span class="text-info" v-text="prod.fhdz"></span></span>
                        </p>
                    </li>

                    <!--<li class="list-order">-->
                    <!--<p class="text-list">-->


                    <!--</p>-->

                    <!--<p class="text-list">-->

                    <!--</p>-->


                    <!--</li>-->

                    <li class="list-order">
                        <p class="text-list">
                            <span class="text-centen">接单日期：<span class="text-info">{{prod.jdrq | formatDate}}</span></span>
                            <span class="text-centen">客户类型：<span class="text-info" v-text="prod.khlx"></span></span>

                        </p>

                        <p class="text-list">

                            <span class="text-centen">数量：<span class="text-info" v-text="prod.sl"></span></span>
                            <span class="text-centen">合计金额：<span class="text-info" v-text="prod.zje"></span></span>
                        </p>



                    </li>

                    <li class="list-order">

                        <p class="text-list">
                            <span class="text-centen">到款银行：<span class="text-info" v-text="prod.dkyh"></span></span>
                            <span class="text-centen">到款金额：<span class="text-info" v-text="prod.dkje"></span></span>

                        </p>
                        <p class="text-list">
                            <span class="text-centen">财务审核日期：<span class="text-info" >{{prod.cwshrq | formatDate}}</span></span>

                        </p>


                    </li>

                    <li class="list-order">
                        <p class="text-list">

                            <span class="text-centen">财务到款日期：<span class="text-info" >{{prod.cwdkrq | formatDate}}</span></span>
                            <span class="text-centen">审核日期：<span class="text-info" >{{prod.ddshrq | formatDate}}</span></span>
                        </p>
                        <p class="text-list">


                            <!--<span class="text-centen">生产审核日期：<span class="text-info">{{prod.scshrq | formatDate}}</span></span>-->
                            <!--<span class="text-centen">审核状态：<span class="text-info" v-text="prod.checkFlag"></span></span>-->
                        </p>


                    </li>



                </ul>
            </div>
        </a>


    </div>
    <p class="foor-line">没有更多内容</p>
</div>
<script src="../../script/require/require.js" data-main="../../script/searchlist_main"></script>

</body>
</html>